<div class="container-fluid">
    <form ng-submit="createEjemedida()" name="ejemedida">
        <div class="form-group row">
            <div class="form-group">
                <select id="ejemedidaId" required ng-model="ejemedidaId" size="10" style="width: 100%; background-color: #434343">
                    <option ng-repeat="x in ejemedidasRecords" value="{{x.id}}">{{x.descripcion}}</option>
                </select>
            </div>
            <input ng-show="ejemedida.$valid" type="submit" value="add" class="btn btn-success"/>
            <a id="cancel-delete" ui-sref="ejemedidasList" class="btn btn-info">Cancel</a>
        </div>
    </form>
</div>