<!--Esta pagina ha sido desarrollada por Mateo Sicard 
    m.sicard10 201512474  -->
<div>
<div> <label> Estudiante:</label> {{usuarioActual.nombre}}</div>
<div> <label> genero:</label> {{usuarioActual.genero}}</div>
<div> <label> fecha de nacimiento: </label> {{usuarioActual.fechaDeNacimiento}}</div>

<div><h1>histrorial:</h1></div>

<table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>fecha</th>
      </tr>
    </thead>
    <tbody ng-repeat="x in usuarioActual.estados">
      <tr>
        <td>{{x.id}}</td>
        <td>{{x.fecha}}</td>
      </tr>
    </tbody>
  </table>

<div><h1>objetivos:</h1></div>
 <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>tipo</th>
        <th>descripcion</th>
      </tr>
    </thead>
    <tbody ng-repeat="x in usuarioActual.objetivos">
      <tr>
        <td>{{x.id}}</td>
        <td>{{x.tipo}}</td>
        <td>{{x.descripcion}}</td>
      </tr>
    </tbody>
  </table>

<div><h1>Rutinas:</h1></div>
 <table class="table">
    <thead>
      <tr>
         <th>id</th>
        <th>fecha Inicio</th>
        <th>Fecha Fin</th>
      </tr>
    </thead>
    <tbody ng-repeat="x in usuarioActual.rutinas">
      <tr>
        <td>{{x.id}}</td>
        <td>{{x.fechaInicio}}</td>
        <td>{{x.fechaFinal}}</td>
      </tr>
    </tbody>
  </table>
</div>




