<div>
    <div ng-repeat="rutina in rutinaRecords" style="display: inline-block ; width: 30%;height: 30%;" >
        <div class ="thumbnail" style=" background: lightskyblue;width: 90%; border-color: orange; border-width: 5px; border-style: double">
                <div class="row">
                    <label>Id:</label> 
                    <p id="{{$index}}-id">{{rutina.id}}</p>
                <div class="row">
                    <label>fecha inicial:</label>
                    <p id="{{$index}}-fechaInicial">{{rutina.fechaInicial}}</p>
                <div class="row">
                    <label>fecha inicial:</label>
                    <p id="{{$index}}-fechaFinal">{{rutina.fechaFinal}}</p>
                </div>
                <div class="row">
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(rutina)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                </div>
            </div>
        </div>
     <div>
         <button id="createRutina-btn" class="btn btn-default btn-sm" ui-sref="createRutina"><span class="glyphicon glyphicon-plus-sign"></span> Crear Rutina</button>
     </div>
</div>
        