<div class = "container-fluid">
    <h1>
        Añadir un ejercicio hecho.
    </h1>
    
    <form ng-submit="createEjercicioHecho()" name = "ejercicioHecho">
        <div class="row">
            <label>Series:</label>  
            <input id="ejercicioHechoSeries" required ng-model="ejercicioHechoSeries" />
        </div>      
        
        <div class="row">
           <label>Fecha de realizacion:</label>           
           <input type="date" placeholder="DD/MM/YYYY" ng-model="fecha"/>
        
        </div>
            <input  type="submit" value="Añadir" class="btn btn-info"/>
            <a class="btn btn-danger" id="{{$index}}-detalles" ui-sref="ejerciciosHechosList({instanciaId:currentInstancia.id})"> Cancelar</a>
    </form>            
</div>
