<div class="container-fluid" ng-if="currentEjercicio !== undefined">
    <center><h3>{{currentEjercicio.descricpion}}</h3></center>
    <button type="button" class="btn btn-sm col-md-12" style="height: 7px; background-image: url(resources/images/image2.png)" data-toggle="collapse" data-target="#vid"></button>
    <div class="container-fluid col-md-12 collapse" id="vid">
        <div ng-if="currentvideo !== undefined && currentvideo !== null" class="container-fluid">
            <iframe class="youtube-player" style="height: 400px;width: 100%" type="text/html" src="{{currentvideo}}" frameborder="0"></iframe>
        </div>
    </div>
    <div class="panel-group col-md-12">
        <div class="panel-info" style="border-color: whitesmoke; border-width: medium; text-align: left">
            <dl class="col-md-6">     
                <dt style="text-align: left">Tipo: {{currentEjercicio.tipo}}</dt>
                <dt style="text-align: left">Explicacion:</dt>
                <dd>{{currentEjercicio.explicacion}}</dd>
            </dl>
            <dl class="col-md-6">     
                <dt style="text-align: left">Pasos:</dt>
                <dd>
                    <ul>
                        <li ng-repeat="paso in currentEjercicio.pasos">{{paso}}</li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-12">
        <ul class="nav nav-tabs" style="background-color: #212121; border-width: thin; border-color: #204d74">
            <li><a ui-sref="ejemaquinasList({ejercicioId: currentEjercicio.id})">Maquinas</a></li>
            <li><a ui-sref="ejeobjetivosList({ejercicioId: currentEjercicio.id})">Objetivos</a></li>
            <li><a ui-sref="ejemedidasList({ejercicioId: currentEjercicio.id})">Partes</a></li>
        </ul>
        <div class="container-fluid" style="background-image: url(resources/images/image.png)">
            <div ui-view="mainView2" style="color: black"></div>
        </div>
    </div>
</div>
