<div class="container-fluid row">
    <nav class="col-md-3 hidden-xs-down bg-faded sidebar" style="background-image: url(resources/images/image2.png)">
        <ul class="nav nav-pills flex-column container-fluid" style="margin-top: 10px; margin-bottom: 10px">
            <li class="nav-item" style=" width: 45%">
                <a class="btn btn-l" style=" color: #28c7ce"  data-toggle="collapse" data-target="#vid">
                    <span class="glyphicon glyphicon-plus-sign"></span> Filtrar
                </a>
            </li>
            <li class="nav-item" style="width: 45%">
                <a class="btn btn-l" ui-sref="ejercicios_create" style=" color: #219821">
                    <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                </a>
            </li>
            <div class="container-fluid col-md-12 collapse" id="vid">
                <form ng-submit="filtrarObjetivo()" name="ejeobjetivo">
                    <div class="container-fluid">
                        <select class="col-md-10" id="ejeobjetivoId" required ng-model="ejeobjetivoId">
                            <option ng-repeat="x in ejeobjetivosRecords" value="{{x.id}}">{{x.tipo}}</option>
                        </select>
                        <input class="col-md-2" ng-show="ejeobjetivo.$valid" type="submit" value=" " class="btn btn-success"/>
                    </div>
                </form>
            </div>
            <form class="navbar-form" ng-submit="buscarEjercicio()" name="ejercicio">
                <input ng-model="Nombre" class="col-md-9" type="text" class="form-control" placeholder="Search...">
                <input class="col-md-3" ng-show="ejercicio.$valid" type="submit" value=">" class="btn btn-success"/>
            </form>
        </ul>
        <ul class="nav nav-tabs flex-column row" style="height: 550px; overflow-y: auto">
            <li class="dropdown col-md-12" ng-repeat="ejercicio in ejerciciosRecords">
                <div class="btn-group  row col-md-12 dropdown-toggle">
                    <a type="button" class="col-md-2 left dropdown-toggle-split" style="text-align: left; height: 100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <a type="button" class="col-md-10 dropdown-toggle-split" ui-sref="ejercicio_detail({ejercicioId: ejercicio.id})">{{ejercicio.descricpion}}</a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="ejercicio_update({ejercicioId: ejercicio.id})">modificar</a></li>
                        <li><a ui-sref="ejercicio_delete({ejercicioId: ejercicio.id})">eliminar</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div class="col-md-9" ui-view="detailView2"></div>
</div>
