<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <body>
      
    <h1>Medida</h1>
           <h2>Agregar medida</h2>
   <!--    <select ng-model="selectUsuraio" ng-options="x for x in usuarios"></select> <br>
       
        --> 
        <form ng-submit="creatMedida()" name = "medida">
         <h5>Agregar medida</h5>
          <h6> medida</h6>
           <input type="number" ng-model="medida" required/>
           <h6>Seleccione un Tipo de medida</h6>
           <select ng-model="tipo" ng-options="tipo.descripcion for tipo in tipoRecords"></select>
           </br>
           </br>
            <input type="submit" value="Agregar" class="btn btn-info btn-sm"/>
  </form> 
           </br>
  <button id="cancelarMedida-btn" class="btn btn-info btn-sm" ui-sref="estadoList" >Cancelar</button>
      
        <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Medida</th>
                    <th>Descripcion</th>
                     <th>Unidad</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="medidas in medidaRecords">
                 <td id="{{$index}}-ID">{{medidas.id}}</td>
                <td id="{{$index}}-Medida">{{medidas.medida}}</td>
                <td id="{{$index}}-Descripcion">{{medidas.descripcion}}</td>
                <td id="{{$index}}-Unidad">{{medidas.unidad}}</td>
                   
                   
            </tbody>
        </table>
    </div>

         


  </body>
</html>
