<div class="container-fluid">
    <form ng-submit="createEjemaquina()" name="ejemaquina">
        <div class="form-group row">
            <div class="form-group">
                <select id="ejemaquinaId" required ng-model="ejemaquinaId" size="10" style="width: 100%; background-color: #434343">
                    <option ng-repeat="x in ejemaquinasRecords" value="{{x.id}}">{{x.descripcion}}</option>
                </select>
            </div>
            <input ng-show="ejemaquina.$valid" type="submit" value="add" class="btn btn-success"/>
            <a id="cancel-delete" ui-sref="ejemaquinasList" class="btn btn-info">Cancel</a>
        </div>
    </form>
</div>