<div class="container-fluid">
    <form ng-submit="createEjeobjetivo()" name="ejeobjetivo">
        <div class="form-group row">
            <div class="form-group">
                <select id="ejeobjetivoId" required ng-model="ejeobjetivoId" size="10" style="width: 100%; background-color: #434343">
                    <option ng-repeat="x in ejeobjetivosRecords" value="{{x.id}}">{{x.tipo}}</option>
                </select>
            </div>
            <input ng-show="ejeobjetivo.$valid" type="submit" value="add" class="btn btn-success"/>
            <a id="cancel-delete" ui-sref="ejeobjetivosList" class="btn btn-info">Cancel</a>
        </div>
    </form>
</div>