<div class="col-md-7">
    <div class="container-fluid">
        <br>
        <div class="panel-group">
                <div class="panel panel-primary" style="border-color: #212021; color: black;background-image: url(resources/images/image.png)">
                    <div class="panel-heading" style="background-color: #212021"><label ng-if="!edit" id="createAuthor">Nuevo Objetivo</label>
                        <label ng-if="edit" id="editAuthor">Editar objetivo</label></div>
                    <div class="panel-body">
                        <form ng-submit="createObjetivo()" name="objetivo">
                            <div class="form-group row">
                                <div class="form-group">
                                    <label for="objetivoTipo" class="col-sm-3" style="color: whitesmoke">Nombre:</label>
                                    <input id="objetivoTipo" required ng-model="objetivoTipo" class="col-sm-8"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group">
                                    <label for="objetivoDescripcion" class="col-sm-3" style="color: whitesmoke">Descripcion:</label>
                                    <textarea id="objetivoDescripcion" required ng-model="objetivoDescripcion" class="col-sm-8"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="form-group col-sm-12">
                                    <input ng-show="objetivo.$valid" type="submit" value="Save" class="btn btn-success"/>
                                    <a class="btn btn-info" ui-sref="objetivos_list">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>


