<div class="col-md-9">
    <div class="container-fluid">
        <br>
        <div class="panel-group">
            <div class="panel panel-primary" style="border-color: #212021; color: black;background-image: url(resources/images/image.png)">
                <div class="panel-heading" style="background-color: #212021"><label ng-if="!edit" id="createEjercicio">Nuevo Estados</label>
                <div class="panel-body">
               

                   <h2>Agregar Estado</h2> 
           <form ng-submit="createEstado()" name = "estado">
           <h5>Fecha de toma</h5>
            <input type="date" placeholder="YYYY/MM/DD" required ng-model="fechaEstado">
            </br>
            </br>
           <input type="submit" value="Agregar  " class="btn btn-info btn-sm"/>
            </br>
            </br>
           </form>  
            
                                    
                        <div class="form-group row">
                            <div class="form-group col-sm-12">
                              <button onclick="history.back()">cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>