<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <body>
    <h1>Estados</h1>
        <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>    
                   
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="estados in estadosRecords">
                     <td id="{{$index}}-Fecha">{{estados.fecha}}</td>
              
            </tbody>
        </table>
    </div>
       <h2>Agregar Estado</h2>
   <!--    <select ng-model="selectUsuraio" ng-options="x for x in usuarios"></select> <br>
       
        -->  
            <input type="date" name="bday">
 
   <button type="button">Agregar Estado</button>
         


  </body>
</html>
