<div class="col-md-10">
     <div class="col-sm-12" style="text-align: center; width: 120%">
        <br>
        <div class="panel-group">
          
               
            <div class="panel-heading" style="background-color: #666666; color: black"><label ng-if="!edit" id="createEjercicio">Nuevo Estados</label>
                <div class="panel-body">
                    
   <div class="panel-group col-md-12">
      <div class="col-sm-12" style="text-align: center; width: 100%">
                 <h2>Agregar Estado</h2> 
                        <form ng-submit="createEstado()" name = "estado">
                      <h5>Fecha de toma</h5>
           <input type="date" placeholder="YYYY/MM/DD"  required ng-model="fechaEstado">
            </br>
            </br>
           <input type="submit" value="Agregar" class="btn btn-success btn-sm"/>
            
            
              <button class="btn btn-danger" onclick="history.back()" ><span class="glyphicon glyphicon-arrow-left"></span> Regresar</button>
                 </form>                        
                        <div class="form-group row">
                            <div class="form-group col-sm-12">
                            
                            </div>
                        </div>
               </div>   
                            </div>
       
            </div>
        </div>
  
</div>
