                                                       <!--Esta pagina ha sido desarrollada por Mateo Sicard 
    m.sicard10 201512474  -->
<div>
    <button class="btn btn-danger" style="float: left" onclick="history.back()" ><span class="glyphicon glyphicon-arrow-left"></span> Regresar</button>
    <div class="row">
    <div class="col-md-4" >
        <br>
        <br>
        <br>
        <br>  
            <img width="50%" height="50%" src="{{usuarioActual.imagen}}"><br>
            <div> <label> Usuario:</label> {{usuarioActual.nombre}}</div>
            <div> <label> genero:</label> {{usuarioActual.genero2}}</div>
            <div> <label> fecha de nacimiento: </label> {{usuarioActual.fechaDeNacimiento|date: 'yyyy-MM-dd'}}</div>
            
            
    </div>
   
    <div class="col-md-6">
        <div id="container2" ></div>
        <form ng-submit="obtener()" name="ejemaquina">
        <select id="ejemaquinaId" ng-model="tipoo" style="width: 60%;">
            <option ng-repeat="x in tipos"  value="{{x.descripcion}} ">{{x.descripcion}}</option>
        </select>
        <input  type="submit" value="Generar grafica" class="btn btn-xs" style="background-color:  #337ab7 ; color: white "/>
        </form>
    </div>
     </div>
    <button type="button" class="btn btn-info col-md-12" data-toggle="collapse" data-target="#historial">Historial <span class="glyphicon glyphicon-chevron-down"></span></button>
    <div id="historial" class="collapse">
        
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>fecha</th>
                </tr>
            </thead>
            <tbody ng-repeat="x in usuarioActual.estados">
                <tr>
                    <td>{{x.id}}</td>
                    <td>{{x.fecha|date:'yyyy-MM-dd'}}</td>
                    <td>
                        <button id="{{$index}}-detalles" class="btn btn-default btn-sm" ui-sref="medidaList({UsuariosId: usuarioActual.id ,estadoID: x.id,valid: false})" ><span class="glyphicon glyphicon-check"></span> Ver detalle</button>                               
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div>

    </div>
    <button type="button" class="btn btn-info col-md-12" data-toggle="collapse" data-target="#ob">Objetivos<span class="glyphicon glyphicon-chevron-down"></span></button>
    <div id="ob" class="collapse">
        
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>tipo</th>
                    <th>descripcion</th>
                </tr>
            </thead>
            <tbody ng-repeat="x in usuarioActual.objetivos">
                <tr>
                    <td>{{x.id}}</td>
                    <td>{{x.tipo}}</td>
                    <td>{{x.descripcion}}</td>
                </tr>
            </tbody>

        </table>
    </div>
    <br> 
    <div>

    </div>
    <button type="button" class="btn btn-info col-md-12" data-toggle="collapse" data-target="#rut">Rutinas  <span class="glyphicon glyphicon-chevron-down"></span></button>
    <div id="rut" class="collapse">
        
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>fecha Inicio</th>
                    <th>Fecha Fin</th>
                </tr>
            </thead>
            <tbody ng-repeat="x in usuarioActual.rutinas">
                <tr>
                    <td>{{x.id}}</td>
                    <td>{{x.fechaInicio|date:'yyyy-MM-dd'}}</td>
                    <td>{{x.fechaFinal|date:'yyyy-MM-dd'}}</td>
                    <td>
                        <button id="{{$index}}-detalles" class="btn btn-default btn-sm" ui-sref="instanciasList({usuariosId:usuarioActual.id, rutinaId:x.id})"><span class="glyphicon glyphicon-check"></span> Ver detalles</button>
                    </td>
                </tr>

  
            </tbody>
            
        </table>
        
    </div>
   
</div>
