<div>
    <div ng-repeat="usuario in usuarioRecords" style="display: inline-block ; width: 30%;height: 30%;" >
        <div class ="thumbnail" style=" background: lightpink;width: 90%; border-color: red; border-width: 10px; border-style: groove">
                <div class="row">
                    <label>Id:</label> 
                    <p id="{{$index}}-id">{{usuario.id}}</p>
                </div>
                <div class="row">
                    <label>Nombre:</label>
                    <p id="{{$index}}-Nombre">{{usuario.nombre}}</p>
                </div>
                <div class="row">
                    <label>Genero:</label>
                    <p id="{{$index}}-Genero">{{usuario.genero}}</p>
                </div>
                <div class="row">
                    <label>fecha Nacimiento:</label>
                    <p id="{{$index}}-fechaNacimiento">{{usuario.fechaDeNacimiento| date: 'yyyy-MM-dd'}}</p>
                
                
                
                </div>
                <div class="row">
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(usuario)"><span class="glyphicon glyphicon-minus"></span>Eliminar Usuario</button>
                    <button id="{{$index}}-usuarios" class="btn btn-default btn-sm" ui-sref="EntrenadorUsuarios({Eid : usuario.id, e:entrenador })"><span class="glyphicon glyphicon-plus-sign"></span> Ver usuarios</button>
                </div>
            </div>
        </div>
     <div>
         <button id="createUsuario-btn" class="btn btn-default btn-sm" ui-sref="createUsuario"><span class="glyphicon glyphicon-plus-sign"></span> Crear Usuario</button>
     </div>
</div>
        