<div>
    <div ng-repeat="usuario in usuarioRecords" style="display: inline-block ; width: 30%;height: 30%;" >
        <div class ="thumbnail" style=" color: black; background: white;width: 90%; border-color: blue; border-width: 5px; border-style: groove">
                <img width="20%" height="20%" src="{{usuario.imagen}}">
                <div class="row">
                    <label>Id:</label> {{usuario.id}}
                </div>
                <div class="row">
                    <label>Nombre:</label> {{usuario.nombre}}
                </div>
                <div class="row">
                    <label>Genero:</label> {{usuario.genero2}}
                </div>
                <div class="row">
                    <label>fecha Nacimiento:</label> {{usuario.fechaDeNacimiento|date:'yyyy-MM-dd'}}
                </div>
                      <div class="row">
                    <p id="{{$index}}-verestado"><a class="btn btn-info" ui-sref="usuarioDetalle({Uid : usuario.id})"><span class="glyphicon glyphicon-plus-sign"></span> Ver detalle</a></p>
                </div>
                <div class="row">
                    
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(usuario)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
             
                </div>
       
            </div>
        </div>
     <div>
         <button id="createUsuario-btn" class="btn btn-default btn-sm" ui-sref="createUsuario"><span class="glyphicon glyphicon-plus-sign"></span> Crear Usuario</button>
     </div>
</div>