<div>
         <div>
         <button id="createtipoMedida-btn" class="btn btn-default btn-sm" ui-sref="createtipoMedida"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Tipo Medida</button>
     </div>
    <div ng-repeat="tipoMedida in tipoMedidaRecords" style="display: inline-table ; width: 30%;height: 30%;" >
        <div class ="thumbnail" style=" background: lightgray;width: 90%; border-color: black; border-width: 8px; border-style: double">
            <img width="20%" height="20%" src="resources/images/medida.png">   
            <div class="row">
                    <label>Id:</label> 
                    <p id="{{$index}}-id">{{tipoMedida.id}}</p>
                </div>
                <div class="row">
                    <label>Informacion:</label> 
                    <p id="{{$index}}-Informacion">{{tipoMedida.descripcion}}</p>
                </div>
            <div class="row">
                    <label>Unidad:</label> 
                    <p id="{{$index}}-Unidad">{{tipoMedida.unidad}}</p>
                </div>
                <div class="row">
                    <label>Automatico:</label> 
                    <p id="{{$index}}-Unidad">{{tipoMedida.automatico}}</p>
                </div>
                <div class="row">
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(tipoMedida)"><span class="glyphicon glyphicon-minus"></span> Eliminar Tipo Medida</button>
                </div>
            </div>
        </div>

</div>
        
        

