<div>
         <div>
         <button id="createMaquina-btn" class="btn btn-default btn-sm" ui-sref="createMaquina"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Maquina</button>
     </div>
    <div ng-repeat="maquina in maquinaRecords" style="display: list-item ; width: 30%;height: 30%;" >
        <div class ="thumbnail" style=" background: lightgrey;width: 90%; border-color: black; border-width: 8px; border-style: double">
               
            <div class="row">
                    <label>Id:</label> 
                    <p id="{{$index}}-id">{{maquina.id}}</p>
                </div>
                <div class="row">
                    <label>Informacion:</label> 
                    <p id="{{$index}}-Informacion">{{maquina.descripcion}}</p>
                </div>
                    
                <div class="row">

                   <label>Tipos medidas:</label>
                <div class="row">
                
            <form ng-submit="addTipoMedida(maquina, idTipoMedida)" name = "tipoMedida">
                <div class="row">
                <label>Id nuevo:</label>  
                <input ng-model="idTipoMedida"/>
                </div>
                <div class="row">
                <input  type="submit" value="Agregar" class="btn btn-default btn-sm"/>
               
            </form>  
                
                </div>
                  
                    <div ng-repeat='tipoMedida in maquina.tipoMedida'>
                  
                     <p id="{{$index}}-Descripcion">{{tipoMedida.descripcion}} medido en {{tipoMedida.unidad}} </p> 
                     
                    </div>
    
                <div class="row">
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(maquina)"><span class="glyphicon glyphicon-minus"></span> Eliminar maquina</button>
                </div>
            </div>
        </div>

</div>
        

